body{
  background-color: #f4cbda;
  width: 100vw;
}

.btn{

}

.input{

}

@media only screen and (max-width: 1200px){
  body{
    width: 100vw;
    justify-content: center;
  }
  .postBody{
    width: 100vw;
  }
}
