body{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

p{
  font-size: 12pt;
}

#loginContainer{
  display: block;
  width: 300px;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0;
}

#password{
  width: 287px;
  margin: 5px;
  height: 30px;
}

#submit{
  width: 300px;
  margin: 5px;
  padding: 5px;
}
